h1 {
color:rgb(90, 175, 218); background-color: black;
}
body{
    background-color: beige;
    border: radius 30px;
    border-color: black;
    border-style: dashed;
    box-shadow: 2pt;
    border-width: 3pt;
}